<html>
  <head>
    <title>Chỉnh sửa bài viết</title>
  </head>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <body>
    <h1>Chỉnh sửa bài viết</h1>
    <div style="text-align: center;">
      <form method="POST" action="/edit/{{post.id}}">

        <input type="text" hidden value="{{this.id}}" name="id" />
        <input
          type="text"
          name="title"
          placeholder="Tiêu đề"
          value="{{post.title}}"
          required
        /><br />
        <textarea
          style="margin: 10px;"
          name="content"
          placeholder="Nội dung"
          required
        >{{post.content}}</textarea><br />
        <button type="submit">Cập nhật</button>
      </form>

      <br />
      <a href="/">Quay lại danh sách</a>
    </div>
  </body>
</html>