h1 {
  color: yellow;
  border: 1px solid green;
  background-color: #3e8e41;
  text-align: center;
}
h2 {
  color: #000;
  font-style: oblique;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-crud {
  display: flex;
}

.post {
  border: 1px solid green;
}
.btn {
  margin: 10px;
}
.post-blog {
  text-align: center;
  margin: 10px;
}
.container {
  padding: 10px;
}
button {
  color: palevioletred;
  background-color: aquamarine;
}

.content {
  padding-top: 10px;
}
input[type="text"],
textarea {
  border: 2px solid red;
  border-radius: 4px;
}
